SampleIntegrations/SampleWebhooks/Microsoft Logic Apps/WebhookModifyEmailAfterUserDeactivation/webhook_deactivation_mod_user.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "actions": {
                    "Response": {
                        "inputs": {
                            "body": "@triggerOutputs()['queries']['hub.challenge']",
                            "statusCode": 200
                        },
                        "kind": "Http",
                        "runAfter": {},
                        "type": "Response"
                    }
                },
                "else": {
                    "actions": {
                        "For_each_2": {
                            "actions": {
                                "For_each": {
                                    "actions": {
                                        "Condition_2": {
                                            "actions": {
                                                "HTTP": {
                                                    "inputs": {
                                                        "body": {
                                                            "email": "@concat(split(items('For_each')?['value']?['target_email'], '@')[0], '_', utcNow('yyyyMMdd'), '@', split(items('For_each')?['value']?['target_email'], '@')[1])"
                                                        },
                                                        "headers": {
                                                            "Authorization": "Bearer ACCESS_TOKEN",
                                                            "Content-Type": "application/json",
                                                            "User-Agent": "GithubRepCS-WHSec"
                                                        },
                                                        "method": "POST",
                                                        "uri": "https://graph.workplace.com/@{items('For_each')?['value']?['target_id']}"
                                                    },
                                                    "runAfter": {},
                                                    "type": "Http"
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@items('For_each')?['value']?['event']",
                                                            "ADMIN_DEACTIVATE_ACCOUNT"
                                                        ]
                                                    },
                                                    {
                                                        "not": {
                                                            "contains": [
                                                                "@items('For_each')?['value']?['target_email']",
                                                                "@utcNow('yyyyMMdd')"
                                                            ]
                                                        }
                                                    }
                                                ]
                                            },
                                            "runAfter": {},
                                            "type": "If"
                                        }
                                    },
                                    "foreach": "@items('For_each_2')?['changes']",
                                    "runAfter": {},
                                    "type": "Foreach"
                                }
                            },
                            "foreach": "@triggerBody()?['entry']",
                            "runAfter": {},
                            "type": "Foreach"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "contains": [
                                "@triggerOutputs()",
                                "queries"
                            ]
                        },
                        {
                            "contains": [
                                "@triggerOutputs()['queries']",
                                "hub.challenge"
                            ]
                        }
                    ]
                },
                "runAfter": {},
                "type": "If"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "properties": {
                            "entry": {
                                "items": {
                                    "properties": {
                                        "changes": {
                                            "items": {
                                                "properties": {
                                                    "field": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "properties": {
                                                            "actor_community_id": {
                                                                "type": "string"
                                                            },
                                                            "actor_email": {
                                                                "type": "string"
                                                            },
                                                            "actor_id": {
                                                                "type": "string"
                                                            },
                                                            "actor_scim_company_id": {
                                                                "type": "string"
                                                            },
                                                            "browser_name": {
                                                                "type": "string"
                                                            },
                                                            "browser_os": {
                                                                "type": "string"
                                                            },
                                                            "event": {
                                                                "type": "string"
                                                            },
                                                            "ip": {
                                                                "type": "string"
                                                            },
                                                            "ip_country": {
                                                                "type": "string"
                                                            },
                                                            "target_community_id": {
                                                                "type": "string"
                                                            },
                                                            "target_company_id": {
                                                                "type": "string"
                                                            },
                                                            "target_email": {
                                                                "type": "string"
                                                            },
                                                            "target_id": {
                                                                "type": "string"
                                                            },
                                                            "timestamp": {
                                                                "type": "string"
                                                            },
                                                            "useragent": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "value",
                                                    "field"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "time": {
                                            "type": "integer"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "time",
                                        "changes"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "object": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {}
}
